

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img1{

  background-color: #cccccc;
}

.first-section{
  padding-top: 70px;
  background-image: url('./images/banner.png');
  background-repeat: no-repeat;
}

.first-section-card{
  border-radius: 3px;
  transform: translateY(60px);
  display: flex;
  padding: 0 1em;
  gap: 1em;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #C51067;
}

.navbar{
  color: #1F7176;
  background-color: #ffffffb0;
  width: 360px;
  max-width: 100% ;
}

.first-section-card-list{
  list-style: none;
  display: flex;
  gap: .7em;
  padding: 0;
  align-self: center;
}

.first-section-card-list > li{
  border: 1px solid #C51067 ;
  border-radius: 50%;
  display: flex;
  place-items: center;
  place-items: center;
  place-content: center;
  padding: .7em;
  max-width: 100%;
  max-height: 100%;
}

.first-section-card-list > li > *{
  height: 40px;
  width: 40px;
} 


@media screen and (max-width: 768px){

  /**HOME PAGE**/

  .first-section{
    height: 100vh;
    background-position: 60%;
  }

  .first-section-card{
    margin: auto;
    height: 330px;
    width: 330px;
    background-color: rgb(196, 196, 196, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button{
    width: 123px;
    height: 33px;
    color: white;
    background-color: #C51067;
    border-radius: 6px;
    border-style: none;
  }

    /**CLINIC PAGE**/

  .operation2{
    background-color: pink;
    height:100vh;
    
  }

  .box2{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height:100vh;
    
    
  }


  /**DOCTORS PAGE**/

  .dr3{
    color: white;
  }

  .operation3{
    background-color: rgb(0, 139, 98);
    
   
  }

  .dr3{
    text-align: center;
  }

  .box3-1{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  
  .box3-2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
  }

  .txt3{
    margin: 15px;
    font-size: 25px;
  }

  .heart3{
    margin: 10px;
  }

  .btn3{
    height: 40px;
    width: 100px;
    color: rgb(105, 63, 63);
    background-color: brown;
    border-radius: 5px;
    border-style: none;
    color: white;
    margin-bottom: 10px;
  }


}

@media(min-width: 769px){

  /**HOME PAGE**/

  .operation2{
    background-color: pink;
    height:100vh;
  }


  .box2{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height:100vh;
  
  }

  .operation3{
    background-color: rgb(0, 139, 98);
    
   
  }

  .dr3{
    text-align: center;
    color: white;
  }

  
  .box3-1{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 30px;
  }

  
  .box3-2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
  }

  .txt3{
    margin: 30px;
    width: 450px;
  }

  .btn3{
    height: 40px;
    width: 100px;
    color: rgb(105, 63, 63);
    background-color: brown;
    border-radius: 5px;
    border-style: none;
    color: white;
    margin-bottom: 10px;
  }


}